.app{
  background-image: url("https://i.imgur.com/5DCxFOO.jpg");
  background-image: url("https://i.imgur.com/wEsmcW2.jpg");
  background-image: url("https://i.imgur.com/JbaKaSW.jpg");
  background-image: url("https://i.imgur.com/WFYX1al.jpg");
  background-image: url("https://i.imgur.com/eSBGF86.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: 100vw;  
  height: 100vh;
  transition: 0.5s ease-out;
}
.day-title{
font-size: 17px;
}
.container { 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 200px 135px 315px;
  gap: 20px 5px;
  grid-auto-flow: row;
  align-items: center;
}

.current { 
  grid-area: 2 / 1 / 4 / 3; 
  justify-self: center;
  text-align: center;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);  
  color: #ffffff;;
  font-weight: 500;
  width: 50%;
}

.search { 
  grid-area: 1 / 4 / 2 / 5; 
  justify-self: center;
}

input[type="text"] {
  padding: 8px;
  border-radius: 5px;
  width: 250px;
  border: 1px solid #ccc;
  font-size: 17px;
  font-weight: bold;
}

button {
  margin-left: 10px;
  padding: 9px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007aff;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
}
button:hover{
  box-shadow:0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.astronomy { 
  grid-area: 2 / 3 / 4 / 5; 
  justify-self: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);  
  color: #ffffff;;
  font-weight: 500;
  border-radius: 20px;
  width: 50%;
  height: 90%;
 
}
.astronomy-fpg{
  grid-area: 2 / 3 / 4 / 5; 
  justify-self: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);  
  color: #ffffff;;
  font-weight: 500;
  width: 60%;
  border-radius: 20px;
}
.current-fpg{
  grid-area: 2 / 1 / 4 / 3; 
  justify-self: center;
  text-align: center;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);  
  color: #ffffff;;
  font-weight: 500;
  width: 60%;
}
.forecast-fpg{
  grid-column: 2 / span 2;
  text-align: center;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.3);  
  color: #ffffff;;
  font-weight:  500 ;
}

.header-intro { 
  grid-area: 1 / 2 / 2 / 4;
  justify-self: center;
  color: #ffffff;;
  font-weight:  500 ;
  
 }

.user {
  grid-area: 1 / 1 / 2 / 2; 
}

.forecast-data { 
  grid-area: 4 / 1 / 5 / 5;
  display: flex;
  justify-content: space-between;
  
}

 .forecast-container {
  grid-column: 1 / span 4;
  text-align: center;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.3);  
  color: #ffffff;;
  font-weight:  500 ;
  width: auto;
}






