.container { 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 200px 135px 315px;
  gap: 10px 0px;
  grid-auto-flow: row;
}

.current { 
  grid-area: 2 / 1 / 4 / 3; 
}

.search-bar { 
  grid-area: 1 / 4 / 2 / 5; }

.astronomy { 
  grid-area: 2 / 3 / 4 / 5; 
}

.header-intro { 
  grid-area: 1 / 2 / 2 / 4;
 }

.user {
  grid-area: 1 / 1 / 2 / 2; 
}

.forecast-data { 
  grid-area: 4 / 1 / 5 / 5;
  display: inline-flex;
 }



.forecast-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* overflow: auto; */
  grid-column: 1 / span 4;

}

/* .forecast-scroll {
  overflow-x: scroll;
  white-space: nowrap;

  
} */
/* /* 
.current{
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 4;
} */


